<form #formCreate="ngForm" (ngSubmit)="onFormSubmit()" id="form-create">

    <label for="phone">Tel nr</label><br>
    <input type="text" [(ngModel)]="formData.Phone" class="input" id="phone_fld" name="phone" required/><br>

    <label for="day">Dag</label><br>
    <select [(ngModel)]="formData.Day" class="input" id="day_fld" name="day">
        <option value="mon">Måndag</option>
        <option value="tis">Tisdag</option>
        <option value="ons">Onsdag</option>
        <option value="tor">Torsdag</option>
        <option value="fre">Fredag</option>
        <option value="lor">Lördag</option>
        <option value="son">Söndag</option>
    </select><br>

    <label for="week">Vecka</label><br>
    <select [(ngModel)]="formData.Week" class="input" id="week_fld" name="week">
        <option value="">Denna Vecka</option>
        <option value="_c">Nästa Vecka</option>
    </select><br>

        <label for="table">Bord</label><br>
        <select [(ngModel)]="formData.Table" class="input" id="table_fld" name="table">
          <option value="Bord_1">Bord 1</option>
          <option value="Bord_2">Bord 2</option>
          <option value="Bord_3">Bord 3</option>
        </select><br><br>

        <button type="submit" class="input-btn">Boka Tid</button>
</form>